@charset "utf-8";

.top{
		width: 100%;
		height: 80px;
		background-color:#FFFFFF;
		border-top:4px solid #3148A5;
		border-bottom:1px solid #CCCCCC;
	}
	.top1{
		position: relative;
	}
	.top .p1{
		width: 117px;
		height: 26px;
		background-color:#09238B;
		font-size:12px;
		font-family:'微软雅黑';
		line-height: 26px;
		position: absolute;
		right: 0px;top:-4px;
		border-radius:4px;
		padding-left: 22px;
	}
	.top .p1 a{
		color:#FFFFFF;
	}
	.top .p1 span{
		margin-left: 17px;
		margin-right: 17px;
	}
	.top .bt{
		font-weight:normal;
		background:url(../img/logo.png) no-repeat left center;
		width: 258px;
		height: 80px;
		font-family:'微软雅黑';
		color:#112161;
		padding-left: 96px;	
		float: left;
		
	}
	.top .bt .p2{
		font-size:21px;
		margin-top: 28px;
	}
	.top .bt .p3{
		font-size:14px;
	}
	.top .daohang{
		font-size:0;
		width: 544px;
		float: right;
		margin-top: 55px;
	}
	.top .daohang ul li{
		display:inline-block;
		font-size:14px;
		font-family:'微软雅黑';
		margin-right: 25px;
	}
	.top .daohang ul li a{
		color:#333333;
	}
	.top .daohang ul li:nth-child(7){
		margin-right: 0;
	}
	.top .daohang ul .active a{
		color:#0F298D;
	}
	.top .daohang ul li:hover a{
		color:#0F298D;
	}
	/*导航*/
	.top2{
		height: 39px;
		background-color:#FFFFFF;
		line-height: 39px;
	}

	.top2 p a{
		font-size:12px;
		color:#272727;
	}
.body{
	background-color:#F2F2F2;
	background: url(../img/bj.png) repeat-x;
}
.body .shen{
	height:894px;
}
.body .shen .ziyuan{
	float:left;
	width:200px;
	height:68px;
	padding-top:44px;
}
.body .shen .ziyuan h3{
	width:100%;
	height:32px;
	font-size:24px;
	line-height: 32px;
	color:#0F298D;
	border-bottom:1px solid #DDDDDD;
}
.body .shen .ziyuan ul li{
	height:39px;
	line-height:39px;
	border-bottom:1px solid #DDDDDD;
	background:url(../img/renli.png) no-repeat 1px center;
	padding-left:15px;
}
.body .shen .ziyuan ul li a{
	color:black;
}
.body .shen .ziyuan ul .active{
	font-weight:bold;
}
.body .shen .linian{
	height:560px;
	width:770px;
	margin-top:48px;
	float:left;
	border-bottom:1px solid #D5D5D5;
	margin-left: 30px;
}
.body .shen .linian h5{
	height:28px;
	font-size:20px;
	font-weight:bold;
	border-bottom:1px solid #D5D5D5;
}
.body .shen .linian img{
	margin-top:18px;
}
.body .shen .linian .div1{
	margin-top:25px;
	height:202px;
}
.body .shen .linian .div1 p{
	width:501px;
	font-size:12px;
	line-height:24px;
	text-indent:29px;
	float:left;
	font-family:'Regular';
}
.body .shen .linian .div1 .p1{
	height:120px;
}
.body .shen .linian .div1 .p2{
	height:72px;
}
.body .shen .linian .div1 span{
	background:url(../img/renli2.png);
	width:246px;
	height: 150px;
	display:inline-block;
	margin-top:14px;
	margin-left:23px;
}
.shen .zhiye{
	margin-top:20px;
	width:770px;
	float:right;
}
.shen .zhiye .p1{
	height: 39px;
	border-bottom:2px solid #10298E;
	background-color:#fff;
}
.shen .zhiye .p1 span{
	width:142px;
	height:39px;
	line-height:39px;
	text-align:center;
	color:#fff;
	background-color:#10298E;
	display:block;
}
.shen .zhiye ul{
	height: 160px;
}
.shen .zhiye ul li{
	width: 767px;
	height: 32px;
	line-height:32px;
	font-size:12px;
	background:url(../img/zhaopin.png) no-repeat left center;
	margin-left:2px;
}
.shen .zhiye ul li a{
	color:black;
	padding-left:15px;
}
.shen .zhiye ul li span{
	float:right;
}
.shen .zhiye em{
	width:769px;
	margin-top:25px;
	font-style:normal;
	border-top:1px dashed black;
	display:block;
}

.line{
		border-bottom:1px dashed #CCCCCC;
		width: 742px;
		margin-top: 18px;
		margin-bottom: 22px;
	}
.zhiye .p2{
		float: left;
		font-size: 12px;
		color:#000000;
	}
.zhiye .p2 a{
		color:#000000;
	}
.zhiye .p2 span{
		margin-left: 5px;
		margin-right: 4px;
	}
.zhiye .p3{
		font-size: 12px;
		float: right;
		color:#000000;
	}
.zhiye .p3 span:nth-child(2){
		margin-left: 6px;
		margin-right: 6px;
	}
.bottom{
		margin-top: 42px;
		width: 100%;
		height: 292px;
		border-top:4px solid #3148A5;
		background-color:#5F5F5F;
	}
	.b_top{
		width: 1002px;
		border-bottom:1px solid #888888;
		font-size:0;
		margin-top: 32px;
	}
	.b_top ul li{
		display:inline-block;
		font-size:12px;
		color:#FFFFFF;
		margin-right: 94px;
		margin-bottom: 15px;
	}
	.b_top ul li:nth-child(5){
		margin-right: 189px;
	}
	.b_left{
		
		float: left;
	}
	.b_left ul{
		float: left;
		margin-right: 94px;
		margin-top: 11px;
	}
	.b_left .k2{
		margin-right: 44px;
	}
	.b_left ul li{
		font-size:12px;
		color:#CBCBCB;
		line-height: 30px;
	}
	.b_right{
		font-size:0;
		float: right;
		
		margin-top: 20px;
	}
	.b_right p{
		width: 84px;
		height: 84px;
		display:inline-block;
		position: relative;
	}
	.b_right .p1{
		background:url(../img/erweima1.png) no-repeat;
		margin-right: 25px;
	}
	.b_right .p2{
		background:url(../img/erweima2.png) no-repeat;
	}
	.b_right a{
		font-size:12px;
		color:#CBCBCB;
		position: absolute;
		left:17px; bottom:-20px;
	}
	.b_btm{
		height: 69px;
		border-top:1px solid black;
		margin-top: 30px;
	}
	.b_btm p{
		font-size:12px;
		color:#CBCBCB;
		display:inline-block;
		margin-top: 29px;
	}
	.b_btm .p2{
		float: right;
	}
	.b_btm .p2 span{
		margin-right: 10px;
		margin-left: 10px;
	}